<%- include("header")  -%>
    <div class="box" id="heading">
        <h1> <%= listtitle %> </h1>
    </div>

    <div class="box">
        <% for(item of newlist_item) { %>
        <%  if(item === ""){ %>

        <% } else { %>
        <div class="item">
            <input type="checkbox">
            <p> <%= item %> </p>
        </div>
        <%  } %>

        <% } %>

        <form action="/" method="POST">
            
            <input type="text" name="work" id="w1" placeholder="New work" autocomplete="off"><br><br>
            <button type="submit" name="list" value="<%= listtitle %>">+</button>
        </form>

    </div>

<%- include("footer") -%>
